<!-- <meta http-equiv="refresh" content="5" /> -->

<mat-tab-group [selectedIndex]="selectedIndex" class="tab">
  <mat-tab label="Cocina">
    <app-tab-comida></app-tab-comida>
  </mat-tab>

  <mat-tab label="Barra">
    <app-tab-bebida></app-tab-bebida>
  </mat-tab>

  <mat-tab label="Cuenta">
    <app-tab-cuenta [pendingOrders]="pendingOrders" [pedidos]="pedidos" (pedidosOutput)="eliminarPedidosOutput($event)" (pendingOrdersOutput)="eliminarPendingOrdersOutput($event)"></app-tab-cuenta>
  </mat-tab>
</mat-tab-group>


