<mat-toolbar class="primary toolbar displayFM">
  <div class="mail">Info@eorestaurantes.com</div>
  <div class="content-login" (click)="login()">
    <button mat-button>Login para restaurantes</button>
    <mat-icon>person_outline</mat-icon>
  </div>
</mat-toolbar>

<div style="width: 100%;">
  <img style="width: 100%;" alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1629376046/imagen.1_ibaenl.png">
</div>

<div class="content-body">
  <div class="imageBody">
    <img src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631871136/foto1_ajvza6.png">
  </div>

  <div class="imageBody">
    <img alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631871854/foto2_wak2mv.png">
  </div>

  <div class="imageBody">
    <img alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631871143/foto3_axfhni.png">
  </div>

  <div class="imageBody">
    <img alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631871146/foto4_dxupad.png">
  </div>

  <div class="imageBody">
    <img alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631871149/foto5_dau7go.png">
  </div>

  <div class="imageBody">
    <div class="textAlign">
      <div style="width: 80%; text-align: center;">
        <div class="formTitle">
          Formulario
        </div>
        <mat-form-field class="matForm">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="restaurant.name">
        </mat-form-field>
        <mat-form-field class="matForm">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="restaurant.email">
        </mat-form-field>
        <mat-form-field class="matForm">
          <mat-label>Teléfono</mat-label>
          <input matInput [(ngModel)]="restaurant.phone">
        </mat-form-field>
        <div style="text-align: right;">
          <button class="primary"mat-flat-button (click)="sendMessage()" >Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pieWeb-content">
  <img style="width: 100%;" alt="cabecera" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1631887807/pie_de_pagina_nlsjk0.png">
  <div class="legalThings">
    <span [routerLink]="['/terminos']">Terminios y condiciones</span> | <span [routerLink]="['/legal']">Aviso legal</span>
  </div>
</div>
