.toolbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.mail{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.content-login{
  display: flex;
  align-items: center;
}

.content-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // width: 100%;
}

.imageBody{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  // max-width: 500px;
  width: clamp(20rem, 30.0625vw, 31.25rem);
}


@media screen and (min-width: 500px) {
  .imageBody{
    width: clamp(250, 50%, 2000px);
    flex: 1;
    padding: 10px;
  }
}

// @media screen and (min-width: 1000px) {
//   .imageBody{
//     width: clamp(100px, 50%, 2000px);
//     flex: 1;
//     padding: 10px;
//   }
// }

.textAlign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.formTitle{
  font-size: 30px;
}

.matForm{
  width: 100%;
}

.pieWeb-content{
  width: 100%;
  padding: 10px;
  position: relative;
  display: inline-block;
}

.legalThings{
  font-size: 1.25vw;
  color: white;
  position: absolute;
  top: 55%;
  left: 21.5%
}





