
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Subiendo imagen...</p>
</ngx-spinner> -->

<div class="content-title">
  ¡Nueva categoría!
</div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de la categoría</mat-label>
      <input type="text" matInput [formControl]="nameFormControl" autocomplete="off">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nombre obligatorio
      </mat-error>
    </mat-form-field>
  </form>

<div class="content-photo">
  Elige la foto que mejor describa los platos que contiene esta categoría
</div>
<mat-divider class="border"></mat-divider>
<div class="content-category">
  <div class="space-category" *ngFor="let i of images">
    <img (click)="chooseImage(i.image)" class="category-img" src={{i.image}} tabindex="0">
  </div>
</div>
<mat-divider class="border"></mat-divider>

<div class="content-photo-propia">
  ¡Sube tu propia foto!
</div>

<form (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data" class="uploadImg">
  <div class="custom-file">
    <div class="file-text">
      <label class="custom-file-label" for="imagen">Elige una imagen en formato png o jpg</label>
    </div>
    <input type="file" class="custom-file-input" id="imagen" #imagenInputFile
    (change)="onFileChange($event)" accept="image/png, image/jpeg">
  </div>
  <div *ngIf="imagen" class="mt-5">
    <div>
      <img class="image-thumbnail imagenMin" [src]="imagenMin">
    </div>
  </div>
  <div class="form-group d-flex justify-content-between buttonPhoto">
    <button mat-raised-button class="primary cancel" [disabled]="!imagen" (click)="reset()">Cancelar</button>
  </div>
</form>

<div class="button-end-order">
  <button mat-raised-button class="primary" (click)="uploadPhoto()">Crear categoría</button>
</div>
