files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDhTCCAm0CFFnBDwe9ZPwUerzKkwjHe96c6ZUKMA0GCSqGSIb3DQEBCwUAMH8x
      CzAJBgNVBAYTAkVTMQ8wDQYDVQQIDAZNVVJDSUExDzANBgNVBAcMBk1VUkNJQTEe
      MBwGA1UEAwwVbXRyZXN0YXVyYW50b3JkZXIuY29tMS4wLAYJKoZIhvcNAQkBFh9t
      b250YWx2b3RlcmNlcm9kZXZvcHNAZ21haWwuY29tMB4XDTIyMTIzMTA5MDU0NFoX
      DTIzMTIzMTA5MDU0NFowfzELMAkGA1UEBhMCRVMxDzANBgNVBAgMBk1VUkNJQTEP
      MA0GA1UEBwwGTVVSQ0lBMR4wHAYDVQQDDBVtdHJlc3RhdXJhbnRvcmRlci5jb20x
      LjAsBgkqhkiG9w0BCQEWH21vbnRhbHZvdGVyY2Vyb2Rldm9wc0BnbWFpbC5jb20w
      ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDO6WxTB0308/i0M4dsVjvT
      d9wzKLZNG54pFkWfPePh5YuitTeD9lmlCNXFmDarvFEPpl3ujxRtEdNAc4NL2OcI
      TFBgJhUI9jMwu97k6CONz1vrcPqLVS9g7n5DYfbC2//KdsSgWjPeABBhBXifseNv
      /KVn4onBuBnCpvN/oYPaHijk1CnA6wacbOo2zRATGejjgV358DTZFL9DnPqdYvaa
      bCBhblGGYs2TRhrBTWkq9s4Kk12QHGXoLrTl+zvmiyQvUjMOhqTDZVn3RB3p0Lep
      zz36DICq6q4lWkFn5jL56hdqVgnh8NMo+mfIobetjzad6BJM/cDNmJlbSGAMyeVt
      AgMBAAEwDQYJKoZIhvcNAQELBQADggEBALJdZKbgc/0aUWmxGPdnaesutNaCWj+Q
      8OB45iClruKDs+dtIP2z/2WH2i9Yxp8mPZ8Ls6cLtvuwnqmoPcAPP2iat9R+do2C
      M803/K3J0q2gPfaPPDIzHbbKwJYnTHVsAY9mwDVRj0c0h1TVayKYnDh05LE254Zx
      XBC7q7DXS3/BV7jrqwiX8oydbVXDiVThgpiLEpDgq14uPCcDX+kkvZOWIFiQGeFm
      rSgLWpb68Wl9+Jiz/a9aC0SI9wSC7RcEzwLerVpJOmUFFxVsfm1GHCRrKI+yI01e
      u5gb69X2yar+h6lH7QHG0SbVdjN8AU8emhzTmOt2fKPmRDN6PG1iEpY=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAzulsUwdN9PP4tDOHbFY703fcMyi2TRueKRZFnz3j4eWLorU3
      g/ZZpQjVxZg2q7xRD6Zd7o8UbRHTQHODS9jnCExQYCYVCPYzMLve5Ogjjc9b63D6
      i1UvYO5+Q2H2wtv/ynbEoFoz3gAQYQV4n7Hjb/ylZ+KJwbgZwqbzf6GD2h4o5NQp
      wOsGnGzqNs0QExno44Fd+fA02RS/Q5z6nWL2mmwgYW5RhmLNk0YawU1pKvbOCpNd
      kBxl6C605fs75oskL1IzDoakw2VZ90Qd6dC3qc89+gyAququJVpBZ+Yy+eoXalYJ
      4fDTKPpnyKG3rY82negSTP3AzZiZW0hgDMnlbQIDAQABAoIBAQCpCQE6A2moh/fS
      H5au5vQRGoaGNOhZrgpTvqI6KbGVxpWA41LrN8KclM8vkd54BmyiwGNUlQc2460V
      pkjJGfYETXQMWJAuthOz6Id7sjn5jEGn4rCMS5ddNPlpywpwvpIFsWmJJqfg4WSA
      Hpwguo732gq3B9dKr0A8SW/8ANNayHiN9chl2QPNI0eLWE/hh8ejAz3Kg+DPEmAs
      DFU0m+KgD7os5OgIUhI6PtEMNruM+kpstuH92gD0FIJYJhh/iHLem+/C089gpnHW
      eokWTe9KS0d8+Xi5ePpwjtHH7LjzluYXxuEuQtz7OXX4QozQV7MJX1f/2Xe6exXn
      1wLE1JQBAoGBAO6VikAhyc8+0TDEx3/9DQSjgZIp6heK5hNdIZeRKjMbOo8KPW5I
      frVN452Lnfvr7a+W0bCvT9lsUMoRY+EWNSW4vLWAiytP5jWzT2hgt0ppb6YE7xTD
      inJcL/t+DTduY/KwddQaALmGxo5JzCQ7fSozUvOzr23OG79ZYQDLynqtAoGBAN4E
      BGXYk8DZ8zjZeW5gpJex4U4+JIwHufgMSpwiTpIiGMAyL8/rMyFCOVVk7WBqBZVh
      tu7ITHzPTl2toTOULjNes5BrLN209LJUAC/NprO6sLeSRIuBPEvh6HMiENN0pnBk
      +KriI+ClyVnXTuLmWnswN9EfrWuOTm5kJitFPy3BAoGBALagdWE9+/LODOcd2fBY
      zbw9RJOTzgMTaaZs5afVkM3qC9suZXOjvooeAxu3ockTAbAk7IIo0CCITxc+VIwZ
      qbkkPh9ZNC6FTJzSkvg9AFDPgI0+vZvRSorbkkcaaBeEQrGk7azb8q4RQq/sQX2C
      o/7HprmxU5nj6U2Bp0UqueVJAoGAAqthsifMfwEf34sd3qni0MAeyWYN4nElV0ou
      i3oOH8uxKH5x/LoDP18geVphUEt2DbnDDVPzN3z2oEG6MniRpaR53D6tp2zJlGtW
      JTz/yCFyhoKHuHWxV+g7d0btlN1OMwPDyao2bDkSFrZ0CF5ksB6ATU9oMmbfoowp
      uVN30wECgYEAvawQRqtVzEw4Na4FbChWBUABxxSPHEWV4iyMuVxCd3fJSAcxDPKM
      C11jR33K29EEC14hB7bTTE3aNW+OjTdygl6+2NQo/jauh+GtIQm/WnBNGbwpcy3z
      Fc3M8k9hEDLIs1MbA2KnX8O1Evn3wncwszV5yDdD3yexbpbPz28K3zk=
      -----END RSA PRIVATE KEY-----