.content {
  padding: 20px;
  margin: auto;
  font-size: 25px;
}

.displayFlex {
  display: flex;
  justify-content: center;
}

.center33 {
  text-align: center;
  width: 33%;
  padding: 10px;
}

h1 {
  max-width: 90%;
  margin: auto;
}

.tableTime {
  padding: 20px 0px;
  font-size: 20px;
}

.description {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.button-end-order {
  text-align: center;
  margin-top: 10px;
}

.Pendiente {
  background-color: white;
}

.Cocinando {
  background-color: yellow;
}

.Terminado {
  background-color: orange;
}

.Servido {
  background-color: #7de124;
}

.border {
  margin: 10px 10px 15px 10px;
  border: 1px solid;
  border-color: #9ccb3b;
}
