
<mat-list class="content">
  <div class="displayFlex">
    <div class="center33">
      <h1 class="primary">Plato</h1>
    </div>
    <div class="center33">
      <h1 class="primary">Unidades</h1>
    </div>
    <div class="center33">
      <h1 class="primary">Estado del plato</h1>
    </div>
  </div>

  <div *ngIf="pedido">
    <div *ngFor="let amount of pedido.amounts; let i = index">
      <div class="displayFlex tableTime {{amount.estado}}" *ngIf="!amount.plate.drink" (click)="marcarHecho(i, amount.estado)">
        <div class="center33">{{amount.plate.name}}</div>
        <div class="center33">{{amount.amount}}</div>
        <div class="center33">
          <p>{{amount.estado}}</p>
        </div>
      </div>

      <div class="description {{amount.estado}}" *ngIf="!amount.plate.drink && (amount.extras.length > 0 || amount.description != '')">
        <div *ngFor="let e of amount.extras">
          {{e.name}}
        </div>
        <br>
        <div>
          {{amount.description}}
        </div>
      </div>
      <mat-divider *ngIf="!amount.plate.drink" class="border"></mat-divider>
    </div>
    
    <div *ngIf="printConfirmation" class="displayFlex">
      <button mat-raised-button class="primary" (click)="imprimir()">Imprimir</button>
    </div>
  </div>
</mat-list>
