
<mat-list class="content">
  <div class="displayFlex">
    <div class="center33">
      <h1 class="primary">Plato</h1>
    </div>
    <div class="center33">
      <h1 class="primary">Unidades</h1>
    </div>
    <div class="center33">
      <h1 class="primary">Estado del plato</h1>
    </div>
  </div>

  <div *ngIf="pedido">
    <div *ngFor="let amount of pedido.amounts; let i = index">
      <div class="displayFlex tableTime {{amount.estado}}" *ngIf="!amount.plate.drink">
        <div class="center33">{{amount.plate.name}}</div>
        <div class="center33">{{amount.amount}}</div>
        <div class="center33">
          <p (click)="marcarHecho(i, amount.estado)">{{amount.estado}}</p>
          <!-- <section class="example-section">
            <mat-checkbox (click)="marcarHecho(i, pedidoServices.pedidoObjeto[indexs].amounts[i].servido)" >servido</mat-checkbox>
          </section> -->
        </div>
      </div>

      <div class="description {{amount.estado}}" *ngIf="!amount.plate.drink">
        <div *ngFor="let e of amount.extras">
          {{e.name}}
        </div>
        <br>
        <div>
          {{amount.description}}
        </div>
      </div>
      <mat-divider *ngIf="!amount.plate.drink" class="border"></mat-divider>
    </div>

  </div>
</mat-list>
<!-- [(ngModel)]="pedidoServices.pedidoObjeto[indexs].amounts[i].servido" -->
