<mat-toolbar class="primary">
  <span>{{ restaurantName }}</span>
</mat-toolbar>

<div class="overlay" *ngIf="showOverlay">
  <div class="spinner">
    <img
      src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1633504473/loading_or0jw6.gif"
      alt="spinner"
    />
  </div>
</div>

<div class="paddingGeneral">
  <div class="category-name">Pedido</div>
  <mat-divider class="border"></mat-divider>
  <div class="asterisk" style="margin-top: 5px">
    *Puede arrastrar los platos entre Entrantes y Principales para ordenar su
    pedido
  </div>

  <div cdkDropListGroup>
    <div class="example-container">
      <h2 class="title">Entrantes</h2>

      <div
        cdkDropList
        [cdkDropListData]="entrante"
        class="example-list"
        (cdkDropListDropped)="dropEntrante($event)"
      >
        <mat-list class="p-0">
          <div *ngIf="entrante.length === 0" class="empty">
            <h3>Sin entrante</h3>
          </div>
          <div class="example-box" *ngFor="let a of entrante" cdkDrag>
            <div>
              <div class="info-plate-price">
                <div>{{ a.amount }} {{ a.plate!.name }}</div>
                <div>{{ a.plate.price }}{{ currencySumbolService.symbol }}</div>
              </div>
              <div>{{ a.description }}</div>
              <div *ngFor="let e of a.extras">
                <div class="info-plate-price">
                  <div>- {{ e.name }}</div>
                  <div>{{ e.price }}{{ currencySumbolService.symbol }}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-list>
      </div>
    </div>
    <div class="example-container">
      <h2 class="title">Principales</h2>

      <div
        cdkDropList
        [cdkDropListData]="principal"
        class="example-list"
        (cdkDropListDropped)="dropPrincipal($event)"
      >
        <mat-list class="p-0">
          <div *ngIf="principal.length === 0" class="empty">
            <h3>Sin principal</h3>
          </div>
          <div class="example-box" *ngFor="let a of principal" cdkDrag>
            <div>
              <div class="info-plate-price">
                <div>{{ a.amount }} {{ a.plate!.name }}</div>
                <div>{{ a.plate.price }}{{ currencySumbolService.symbol }}</div>
              </div>
              <div>{{ a.description }}</div>
              <div *ngFor="let e of a.extras">
                <div class="info-plate-price">
                  <div>- {{ e.name }}</div>
                  <div>{{ e.price }}{{ currencySumbolService.symbol }}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-list>
      </div>
    </div>
  </div>
  <div>
    <h2 class="title">Bebida</h2>

    <mat-list class="p-0 borderBGreen">
      <div *ngIf="bebida.length === 0" class="empty"><h3>Sin bebida</h3></div>
      <div *ngFor="let a of bebida">
        <div class="list-item">
          <div class="info-plate-price">
            <div>{{ a.amount }} {{ a.plate!.name }}</div>
            <div>{{ a.plate.price }}{{ currencySumbolService.symbol }}</div>
          </div>
          <div>{{ a.description }}</div>
          <div *ngFor="let e of a.extras">
            <div class="info-plate-price">
              <div>- {{ e.name }}</div>
              <div>{{ e.price }}{{ currencySumbolService.symbol }}</div>
            </div>
          </div>
        </div>
        <mat-divider class="primary"></mat-divider>
      </div>
    </mat-list>
    <div class="info-total-price">
      Total pedido {{ totals() }}
      <!--      {{ pedido.total }}{{ currencySumbolService.symbol }}-->
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Nº de mesa</mat-label>
      <input
        disabled
        type="number"
        matInput
        [value]="numMesa"
        autocomplete="off"
      />
    </mat-form-field>

    <form>
      <mat-form-field
        *ngIf="restaurantService.mailConfiguration === always || firstTime"
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          placeholder="ex@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Introduce un email correcto
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email obligatorio
        </mat-error>
      </mat-form-field>
    </form>

    <div
      *ngIf="restaurantService.mailConfiguration === always || firstTime"
      class="asterisk"
    >
      *Recibirá un código para verificar su email, insertelo y será efectivo su
      pedido. Gracias
    </div>

    <div class="button-end-order">
      <button mat-raised-button class="primary" (click)="goCategoriesPage()">
        Seguir pidiendo
      </button>
    </div>

    <div class="button-end-order">
      <button
        *ngIf="canOrder"
        mat-raised-button
        class="primary"
        (click)="openDialog()"
        [disabled]="!(total > 0)"
      >
        Hacer pedido
      </button>
    </div>
  </div>
</div>
