.mat-toolbar{
  display: flex;
  justify-content: center;
}

.list-item{
  padding: 10px;
}

.info-plate-price{
  display: flex;
  justify-content: space-between;
}

.paddingGeneral{
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

.example-form{
  margin-top: 20px;
}

.button-end-order{
  text-align: center;
  margin-top: 20px;
}

.info-total-price{
  padding: 10px;
  // display: flex;
  text-align: right;
  // justify-content: space-between;
}

.border{
  margin-top: 10px;
  border: 1px solid;
  border-color: #9CCB3B;
}

.category-name{
  text-align: center;
  font-weight: 570;
  font-size: 17px;
}

.asterisk{
  font-style: normal;
  font-style: italic;
  font-style: oblique;
  font-size: 12px;
  padding: 0 10px;
}

.overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
