<mat-toolbar class="primary">
  <span>{{restaurantName}}</span>
</mat-toolbar>

<!-- <div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div> -->

<div class="overlay" *ngIf="showOverlay">

  <div class="spinner ">
      <img src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1633504473/loading_or0jw6.gif"/>
    </div>

  </div>

<div class="paddingGeneral">
  <div class="category-name">
    Pedido
  </div>
  <mat-divider class="border"></mat-divider>

  <mat-list>
    <div *ngFor="let a of pedido.amounts">
      <div class="list-item">
        <div class="info-plate-price">
          <div>{{a.amount}} {{a.plate!.name}}</div>
          <div>{{a.subTotal}}€</div>
        </div>
        <div>{{a.description}}</div>
      </div>
      <mat-divider class="primary"></mat-divider>
    </div>
    <div class="info-total-price">
      Total pedido {{pedido.total}}€
    </div>
  </mat-list>

    <mat-form-field class="example-full-width">
      <mat-label>Nº de mesa</mat-label>
      <input type="number" matInput [formControl]="tableFormControl" placeholder="Ej. 10" autocomplete="off">
      <mat-error *ngIf="tableFormControl.hasError('required')">
        Nº de mesa obligatorio
      </mat-error>
    </mat-form-field>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="ex@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Introduce un email correcto
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email obligatorio
        </mat-error>
      </mat-form-field>
  </form>

  <div class="asterisk">
    *Recibirá un código para verificar su email, insertelo y será efectivo su pedido. Gracias
  </div>

  <div class="button-end-order">
    <button mat-raised-button class="primary" (click)="goCategoriesPage()">Seguir pidiendo</button>
  </div>

  <div class="button-end-order">
    <button mat-raised-button class="primary" (click)="openDialog()" [disabled]="!(pedido.total > 0)" >Hacer pedido</button>
  </div>

</div>

