.list-item{
  padding: 10px;
}

.info-plate-price{
  display: flex;
  justify-content: space-between;
}

.peddido-content{
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

.example-form{
  margin-top: 20px;
}

.button-end-order{
  text-align: center;
  margin-top: 20px;
}
