<p style="padding: 20px;">
  <strong>Términos, Condiciones de Uso y Aviso Legal de éo!</strong>
  <br><br>
  Estos términos y condiciones (las "Condiciones") rigen tu acceso y uso de los sitios
  web y aplicaciones móviles de éo! (el www.eorestaurantes.com)) que se relacionan o
  hacen referencia a estas Condiciones. Al acceder o utilizar a el Sitio, estás aceptando
  estas Condiciones y consumando un contrato legalmente vinculante con Wizzionet,
  S.L.., una empresa constituida en España. No accedas ni utilices el Sitio si no estás
  dispuesto a cumplir estas Condiciones o no puedes comprometerte a cumplirlas.
  <br><br>
  <strong>1.- DEFINICIONES</strong>
  <br><br>
  Partes
  <br>
  "Tú" y "tu/tus" se refieren a ti, como usuario del Sitio. Un "usuario" es alguien que
  accede, navega, explora o utiliza de cualquier forma el Sitio. "Nosotros", "nos" y
  "nuestro" (en todas sus formas) se refieren a éo!.
  Contenido
  "Contenido" se refiere a texto, imágenes, fotos, datos de ubicación y otras formas de
  datos o comunicaciones. "Tu contenido" se refiere al contenido que envíes o
  transmitas a, mediante, o en conexión con el Sitio, como valoraciones, comentarios,
  fotos, mensajes e información que muestres de forma pública o privada en tu perfil de
  cuenta.
  <br><br>
  <strong>2.- CAMBIOS EN LAS CONDICIONES DE SERVICIO</strong>
  <br><br>
  Podemos modificar las Condiciones cuando lo consideremos oportuno. Entiendes y
  aceptas que el acceso al Sitio y su uso se rigen por las Condiciones que estén en vigor
  en el momento en que accedes al Sitio o lo utilizas. Si realizamos cambios materiales
  a estas Condiciones, lo notificaremos por correo electrónico o publicando un aviso en
  el Sitio antes de la fecha de entrada en vigor de los cambios. También indicaremos en
  la parte superior de esta página la fecha en que se produjeron las últimas revisiones.
  Deberías visitar estas Condiciones de forma regular ya que las versiones revisadas
  serán vinculantes para ti. Cualquier modificación entrará en vigor tras la publicación de
  las nuevas Condiciones. Entiendes y aceptas que el acceso al Sitio o su uso de forma
  continuada tras la fecha de entrada en vigor de las modificaciones de las Condiciones
  indican que aceptas dichas modificaciones.
  <br><br>
  <strong>3.- USO DEL SITIO</strong>
  <br><br>
  Admisibilidad
  <br>
  <strong>A.-</strong> Para acceder o utilizar el Sitio, debes tener 18 años o más y tener el poder y
  autoridad necesaria para asumir estas Condiciones. No puedes acceder al Sitio ni
  utilizarlo si eres un competidor nuestro o si te han censurado previamente en el Sitio o
  te han cerrado tu cuenta.<br>
  <strong>B.-</strong> Permiso para utilizar el Sitio<br>
  Te damos permiso para utilizar el Sitio sujeto a las restricciones que figuran en estas
  Condiciones. El uso que hagas del Sitio será responsabilidad tuya, incluyendo el
  riesgo a exponerte a Contenido ofensivo, indecente, equivocado, censurable o
  inapropiado de cualquier otra forma.<br>
  <strong>C.-</strong> Disponibilidad del Sitio<br>
  El Sitio puede ser modificado, actualizado, interrumpido, suspendido o eliminado en
  cualquier momento sin previo aviso y sin asumir ninguna responsabilidad.<br>
  <strong>D.-</strong> Cuentas de usuario<br>
  Debes crear una cuenta y proporcionar tu nombre, apellido, genero y cuenta de correo
  electrónico alguna información sobre ti para utilizar algunas de las funciones ofrecidas
  a través del Sitio. Eres responsable de mantener la confidencialidad de la contraseña
  de tu cuenta. También eres responsable de todas las actividades que tengan lugar en
  relación con tu cuenta. Aceptas notificarnos inmediatamente cualquier uso no
  autorizado que percibas de tu cuenta. Nos reservamos el derecho a cerrar tu cuenta
  en cualquier momento con o sin razón.
  Tu cuenta es para uso personal solo, no para uso comercial. Al crear una cuenta, es
  necesario que proporciones información completa y exacta sobre ti para reforzar tu
  credibilidad como contribuidor al Sitio. No puedes asumir la personalidad de otra
  persona, crear o usar una cuenta en nombre de otra persona que no seas tú,
  proporcionar una dirección de correo electrónico que no sea la tuya o crear varias
  cuentas. Para obtener mayor información leer nuestra Política de privacidad.<br>
  <strong>E.-</strong> Comunicaciones desde éo! y otros usuarios<br>
  Al crear una cuenta, aceptas recibir comunicaciones en conexión con el Sitio. Por
  ejemplo, puedes recibir mensajes internos de otros usuarios o notificaciones por las
  diversas actividades relacionadas con el Sitio. También recibirás nuestro boletín
  semanal por correo electrónico sobre la cantidad de personas que vieron tu
  publicación y ofertas relacionadas. Siempre puedes elegir dejar de recibir
  comunicaciones al entrar en la configuración de tu cuenta.
  <br><br>
  <strong>4. CONTENIDO</strong>
  <br><br>
  <strong>A.-</strong>Responsabilidad de Tu contenido<br>
  Tú eres el único responsable de Tu contenido y, una vez publicado, no siempre será
  posible borrarlo. Tú asumes todos los riesgos asociados con Tu contenido, incluyendo
  Tu contenido y que te identifique personalmente.
  Asumirías la responsabilidad si, por ejemplo, Tu contenido contiene material falso,
  intencionadamente engañoso o difamatorio; si infringe derechos de terceros,
  incluyendo derechos de autor, marca registrada, patente, secreto comercial, derecho
  moral, derecho privado, derecho de publicidad o cualquier otra propiedad intelectual o
  derecho de propiedad; si contiene material ilícito o pornografía; o si infringe o favorece
  la infracción de cualquier ley o reglamento.<br>
  <strong>B.-</strong> Nuestro derecho a usar Tu contenido<br>
  Podemos utilizar Tu contenido de varias formas diferentes, incluyendo mostrarlo
  públicamente, darle un nuevo formato, incorporarlo a anuncios y otros trabajos, crear
  trabajos derivados, promocionarlo, distribuirlo y permitir que otros hagan lo mismo en
  conexión con sus propios sitios web y otras plataformas multimedia. De tal forma, por
  el presente documento nos concedes de forma irrevocable los derechos mundiales,
  perpetuos, no exclusivos, libres de regalías y que se pueden sublicenciar, asignar y
  transferir para utilizar Tu contenido para cualquier fin. Asimismo concedes de forma
  irrevocable a los usuarios del Sitio y de Otras plataformas multimedia el derecho a
  acceder a Tu contenido en conexión con su uso del Sitio y cualquier Otra plataforma
  multimedia. Finalmente, renuncias de forma irrevocable a cualquier reclamación o
  reivindicación contra éo! de derechos morales o atribución con respecto a Tu
  contenido. Con "uso" nos referimos a usar, copiar, realizar o mostrar públicamente,
  reproducir, distribuir, modificar, traducir, eliminar, analizar, comercializar y crear
  trabajos derivados de Tu contenido.
  Podemos utilizar Tu Contenido de varias formas distintas en relación con el Sitio, el
  Servicio y el negocio de Degusta según lo determine éo! a su entera discreción,
  incluyendo, entre otras cosas, mostrarlas públicamente, darles un nuevo formato,
  incorporarlas a materiales de marketing, anuncios y otros trabajos; creando trabajos
  derivados de ellas, promocionándolas, distribuyéndolas y permitiendo que otros
  usuarios hagan lo mismo en relación con sus propios sitios web. Al enviar las
  Publicaciones del usuario al Sitio, usted por este medio concede y concederá a éo!
  una licencia mundial, no exclusiva, libre de regalías, sublicenciable y transferible para
  usar, copiar, editar, modificar, reproducir, distribuir, preparar trabajos derivados,
  mostrar, ejecutar, y de otra manera explotar las Publicaciones del usuario en relación
  con el Sitio, el Servicio y el negocio de éo!.
  Usted entiende que toda la información publicada para todos o transmitida en privado
  a través del Sitio, es responsabilidad exclusiva de la persona que originó dicho
  Contenido. Que éo! no será responsable de ningún error u omisión en cualquier parte
  del Contenido, y que Degusta no puede garantizar la identidad de ningún otro usuario
  con el que usted pueda interactuar al usar el Sitio.<br>
  <strong>C.-</strong> Propiedad<br>
  Entre tú y éo!, tú eres el propietario de Tu contenido. Nosotros somos los propietarios
  del Contenido de éo!, que incluye, aunque no exclusivamente, interfaces visuales,
  funciones interactivas, gráficos, diseño, código de programación, productos, software,
  conjunto de valoraciones de comentarios de usuarios y otros elementos ycomponentes
  del Sitio excluyendo Tu contenido, el Contenido del usuario y el Contenido de terceros.
  También somos propietarios de los derechos de autor, marcas comerciales, marcas de
  servicio, nombres comerciales y otros derechos intelectuales y de propiedad por todo
  el mundo ("Derechos de PI") asociados con el Contenido de éo! y el Sitio, que están
  protegidos por las leyes de derechos de autor, imagen comercial, patente, marca
  comercial y el resto de los derechos y leyes de propiedad intelectual. De tal forma, no
  puedes modificar, reproducir, distribuir, crear trabajos derivados del Contenido de éo!.<br>
  <strong>D.-</strong> Otro<br>
  El Contenido del usuario (incluido aquel que haya sido creado por empleados o
  contratados de éo!) no refleja la opinión de éo!. Nos reservamos el derecho a eliminar,
  filtrar, editar o reincorporar Contenido del usuario cuando consideremos oportuno, de
  manera unilateral, sin necesidad de tener un motivo para ello y sin previo aviso. Por
  ejemplo, podemos eliminar un comentario si creemos que infringe nuestras Directrices
  de contenido. No tenemos obligación de guardar u ofrecerte copias de Tu contenido, ni
  garantizamos ninguna confidencialidad con respecto a Tu contenido.
  <br><br>
  <strong>5.- DIRECTRICES DE CONTENIDO</strong>
  <br><br>
  éo! permite a los usuarios registrados contribuir con diferentes tipos de contenido,
  incluyendo comentarios, calificación, fotos, mensajes privados, etc. Aceptas
  expresamente utilizar el sistema solo para enviar mensajes apropiados y que sean
  acordes con el tema concreto para el que se creó este Sitio.<br>
  <strong>A.-</strong> Directrices sobre comentarios<br>
  A continuación se expone una lista no exhaustiva de la clase de Mensajes que están
  prohibidos en el Sitio. Esta lista incluye los Mensajes que:<br>
  1.- Son claramente ofensivos a la comunidad "online", como por ejemplo aquellos que
  fomenten el racismo, la intolerancia, el odio o cualquier daño físico, bien contra
  personas individuales o contra un grupo de personas;<br>
  2.- Acosen o fomenten el acoso a otras personas;<br>
  3.- Impliquen el envío de "e-mails basura", "cartas en cadena" o el envío masivo de
  correos no solicitados o "spam"; sean difamatorios o calumniosos;<br>
  4.- Implique actividades comerciales y/o ventas sin nuestro consentimiento previo por
  escrito.<br>
  5.- Sean escritos por los dueños, empleados o ex empleados del establecimiento.<br>
  6.- Hagan denuncias que puedan tener implicaciones legales para los establecimientos
  listados.<br>
  7.- Expresen quejas sobre sanidad.<br><br>
  éo! podrá rechazar o filtrar también aquellos comentarios sobre los restaurantes que:<br>
  1.- Parezcan que contienen información que es falsa, errónea o que fomente
  actividades ilegales o promueva conductas que sean abusivas, intimidatorias u
  obscenas<br>
  2.- Sean de usuarios que se registraron utilizando nombres que ocultan su identidad.<br>
  3.- Hagan comparaciones directas con la competencia del restaurante ó contengan
  información difamatoria que no se pueda comprobar.<br>
  4.- Mencionen el personal del restaurante ya sea por su nombre, título o por
  características físicas.
  5.- Provengan de múltiples usuarios que se registraron desde un mismo dispositivo.<br>
  6.- Parezcan mal intencionados o que intentan favorecer o promocionar un
  restaurante.<br>
  7.- Sean parte de algún tipo de manipulación por parte del restaurante o su
  competencia.<br><br>
  éo! no permite calificar un mismo restaurante dos o más veces a menos que el periodo
  entre cada publicación sea mayor de treinta días de diferencia. éo! se reserva el
  derecho a borrar el comentario antiguo si a su parecer contiene contenido similar.
  éo! podrá no publicar mensajes, corregir faltas de ortografía o borrar los Mensajes
  publicados o difundidos en este Sitio. Además éo! se reserva el derecho a retirar, a
  nuestra completa discreción y sin notificación previa, cualquier Mensaje de los
  usuarios y/o Contenido del Sitio.<br>
  <strong>B.-</strong> Directrices sobre fotos<br>
  Puedes subir fotos a tu cuenta personal a través de las aplicaciones de celular. éo!
  solo acepta que las fotos sean de los platos de los restaurantes. Fotografías que
  contengan otro material probablemente serán denunciadas por la comunidad de
  usuarios y se procederá a borrarla de El Sitio.<br>
  Fotos que serán permitidas:<br>
  1.- Fotos de platos recién servidos o con una pequeña parte consumidos<br>
  2.- Fotos de bebidas de lugares especializados en ellas: Cafés en cafeterías, Cócteles
  en bares o similares, etc.<br>
  Fotos No Permitidas:<br>
  - Vasos con agua, soda, jugos o similares.<br>
  - Botellas de vino, cervezas u otros licores.<br>
  - Mantequilla, aderezos, salsas, pan o similares.<br>
  - Comida en su envoltorio o caja donde no se ve el producto, solo el envase.<br>
  - Mostradores, vidrieras o similares mostrando el producto del establecimiento.<br>
  - Buffet o similares.<br>
  - Fotos con zoom donde no se aprecia o entiende el producto.<br>
  - Fotos del mismo plato tomado de diferentes ángulos.<br>
  - Fotos de partes de un mismo plato o a los acompañamientos de un plato.<br>
  - Fotos repetidas o subidas previamente por otro usuario.<br>
  - Capturas de pantalla o fotos descargadas de redes sociales.<br>
  Las fotos que no cumplan las políticas serán removidas de éo! y los puntos asignados
  a ellas serán eliminados de la cuenta del usuario automáticamente.
  <br><br>
  <strong>6.- POLÍTICA DE ENVÍO DE COMENTARIOS E IDEAS NO SOLICITADAS</strong>
  <br><br>
  éo! o cualquiera de sus empleados no aceptan ni consideran ideas no solicitadas,
  incluyendo ideas para nuevas campañas de publicidad, nuevas promociones,
  productos o tecnologías nuevas o mejoradas, mejoras de productos, procesos,
  materiales, planes de marketing o nuevos nombres de productos. Si decides hacer
  caso omiso a lo siguiente, entonces, al enviar presentaciones, tú aceptas que (i) tus
  ideas y su contenido pasarán de forma automática a ser propiedad de éo! y éo! tendrá
  derecho al uso ilimitado de la idea para cualquier propósito, comercial o de otro tipo,
  sin compensación o atribución para ti, (ii) tus ideas no contienen información
  confidencial o de propiedad de terceros, (iii) éo! considerará las ideas como no
  confidenciales ni propietarias, (iv) éo! podría ya estar evaluando o desarrollando algo
  similar a las presentaciones con anterioridad y (v) éo! no tendrá ninguna obligación
  con respecto a las ideas presentadas, ni contractual ni de otro tipo.
  <br><br>
  <strong>7.- CONDICIONES ESPECIALES PARA LUGARES VERIFICADOS</strong>
  <br><br>
  Si usted es el representante verificado de un lugar, también acepta las Condiciones de
  uso de la Plataforma de Lugares Verificados de Degusta.
  <br><br>
  <strong>8.- INDEMNIZACIÓN</strong>
  <br><br>
  Usted deberá defender, indemnizar y eximir de responsabilidad a éo!, sus afiliados y
  cada uno de sus empleados y empleados de sus afiliados, directores, proveedores y
  representantes, de todas las pérdidas, costos, acciones, demandas, daños, gastos
  (incluyendo costos legales razonables) o pasivos, que surjan o estén relacionados con
  su uso, mal uso o acceso al Sitio, Servicio, Contenido o bien a sus Publicaciones de
  usuario, incumplimiento de estas condiciones de uso, o infracción de su parte o de
  terceros que utilicen su cuenta, de la propiedad intelectual u otro derecho de cualquier
  persona o entidad (salvo en la medida en que un tribunal de jurisdicción competente
  considere que dicha demanda surgió debido a un acto u omisión de éo!). éo! se
  reserva el derecho de asumir la defensa y control exclusivos de cualquier asunto
  sujeto a indemnización por usted, en cuyo caso usted deberá 9.- ayudar y cooperar
  con Degusta para hacer valer cualquier defensa disponible.
  <br><br>
  <strong>9.- LEY APLICABLE Y JURISDICCION COMPETENTE</strong>
  <br><br>
  El Sitio Web es controlado y administrado por Wizzionet, S.L. Mediante la publicación,
  acceso y/o uso de esta App y Sitio Web, aceptas que todas las disputas,
  reclamaciones y otras cuestiones derivadas o relacionadas con tu uso de la App y Sitio
  Web quedarán sujetas a las leyes de España. Tú aceptas que todas las reclamaciones
  o quejas que tengas contra éo! que provengan o estén relacionadas con el
  funcionamiento o el uso de la App y Sitio Web serán resueltas por el tribunal
  competente situado en España.
  <br><br>
  <strong>10.- CONTACTO</strong>
  <br><br>
  Usted puede contactar a éo! en la siguiente dirección: Carril Baños, 127. 30009
  LaAlbatalía. Murcia. España o a info@eorestaurantes.com
  <br><br>
  <strong>11.- Aviso legal</strong>
  <br><br>
  El presente aviso legal (en adelante, el "Aviso Legal") regula el uso del servicio del
  portal de Internet www. eorestaurantes.com y su App éo! Club Gourmet de
  WIZZIONET, S.L. con domicilio social en CARRIL BAÑOS, 127, LA ALBATALÍA,
  30009, MURCIA con CIF B87406757.
  <br><br>
  <strong>12.- Legislación</strong>
  <br><br>
  Con carácter general las relaciones entre WIZZIONET, S.L. con los Usuarios de sus
  servicios telemáticos, presentes en la web, se encuentran sometidas a la legislación y
  jurisdicción españolas.
  Las partes renuncian expresamente al fuero que les pudiera corresponder y someten
  expresamente a los Juzgados y Tribunales de LA ALBATALÍA para resolver cualquier
  controversia que pueda surgir en la interpretación o ejecución de las presentes
  condiciones contractuales.
  <br><br>
  <strong>13.- Contenido y uso</strong>
  <br><br>
  El Usuario queda informado, y acepta, que el acceso a la presente web no supone, en
  modo alguno, el inicio de una relación comercial con WIZZIONET, S.L..
  El titular del web no se identifica con las opiniones vertidas en el mismo por sus
  colaboradores. La Empresa se reserva el derecho de efectuar sin previo aviso las
  modificaciones que considere oportunas en su Web, pudiendo cambiar, suprimir o
  añadir tanto los contenidos y servicios que se presten a través de la misma como la
  forma en la que éstos aparezcan presentados o localizados en sus servidores.
  <br><br>
  <strong>14.- Propiedad intelectual e industrial</strong>
  <br><br>
  Los derechos de propiedad intelectual del contenido de las páginas web, su diseño
  gráfico y códigos son titularidad de WIZZIONET, S.L. y, por tanto, queda prohibida su
  reproducción, distribución, comunicación pública, transformación o cualquier otra
  actividad que se pueda realizar con los contenidos de sus páginas web ni aun citando
  las fuentes, salvo consentimiento por escrito de WIZZIONET, S.L.. Todos los nombres
  comerciales, marcas o signos distintos de cualquier clase contenidos en las páginas
  web de la Empresa son propiedad de sus dueños y están protegidos por ley.
  <br><br>
  <strong>15.- Enlaces (Links)</strong>
  <br><br>
  La presencia de enlaces (links) en las páginas web de WIZZIONET, S.L. tiene finalidad
  meramente informativa y en ningún caso supone sugerencia, invitación o
  recomendación sobre los mismos.
  <br><br>
  <strong>16.- Confidencialidad y Protección de Datos</strong>
  <br><br>
  A efecto de lo previsto en RGPD de 27 de abril de 2016, WIZZIONET, S.L. informa al
  Usuario de la existencia de un tratamiento automatizado de datos de carácter personal
  creado por y para WIZZIONET, S.L. y bajo su responsabilidad, con la finalidad de
  realizar el mantenimiento y gestión de la relación con el Usuario, así como las labores
  de información. En el momento de la aceptación de las presentes condiciones
  generales, WIZZIONET, S.L. precisará del Usuario la recogida de unos datos
  imprescindibles para la prestación de sus servicios.
  <br><br>
  <strong>17.- Registro de ficheros y formularios</strong>
  <br><br>
  La cumplimentación del formulario de registro es obligatoria para acceder y disfrutar de
  determinados servicios ofrecidos en la web. El no facilitar los datos personales
  solicitados o el no aceptar la presente política de protección de datos supone la
  imposibilidad de suscribirse, registrarse o participar en cualquiera de las promociones
  en las que se soliciten datos carácter personal.
  A efecto de lo previsto en RGPD de 27 de abril de 2016, le informamos que los datos
  personales que se obtengan como consecuencia de su registro como Usuario, serán
  incorporados a un fichero titularidad de WIZZIONET, S.L. con C.I.F B87406757 y
  domicilio en CARRIL BAÑOS, 127, LA ALBATALÍA, 30009, MURCIA, teniendo
  implementadas las medidas de seguridad establecidas en el Real Decreto 1720/2007,
  de 11 de junio.
  <br><br>
  <strong>18.- Exactitud y veracidad de los datos facilitados</strong>
  <br><br>
  El Usuario es el único responsable de la veracidad y corrección de los datos incluidos,
  exonerándose WIZZIONET, S.L. de cualquier responsabilidad al respecto. Los
  usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y
  autenticidad de los datos personales facilitados, y se comprometen a mantenerlos
  debidamente actualizados. El usuario acepta proporcionar información completa y
  correcta en el formulario de registro o suscripción. WIZZIONET, S.L. no responde de la
  veracidad de las informaciones que no sean de elaboración propia y de las que se
  indique otra fuente, por lo que tampoco asume responsabilidad alguna en cuanto a
  hipotéticos perjuicios que pudieran originarse por el uso de dicha información.
  WIZZIONET, S.L. se reserva el derecho a actualizar, modificar o eliminar la
  información contenida en sus páginas web pudiendo incluso limitar o no permitir el
  acceso a dicha información. Se exonera a WIZZIONET, S.L. de responsabilidad ante
  cualquier daño o perjuicio que pudiera sufrir el Usuario como consecuencia de errores,
  defectos u omisiones, en la información facilitada por WIZZIONET, S.L. siempre que
  proceda de fuentes ajenas a WIZZIONET, S.L.
  <br><br>
  <strong>19.- Cookies</strong>
  <br><br>
  El sitio www.eorestaurantes.com no utiliza cookies, considerando tales ficheros físicos
  de información alojados en el propio terminal del usuario y sirven para facilitar la
  navegación del usuario por el portal. De todas formas, el usuario tiene la posibilidad de
  configurar el navegador de tal modo que impida la instalación de estos archivos.
  <br><br>
  <strong>20.- Finalidades</strong>
  <br><br>
  Las finalidades de WIZZIONET, S.L., son el mantenimiento y gestión de la relación con
  el Usuario, así como las labores de información.
  <br><br>
  <strong>21.- Menores de edad</strong>
  <br><br>
  En el supuesto que algunos de nuestros servicios vayan dirigidos específicamente a
  menores de edad, WIZZIONET, S.L. solicitará la conformidad de los padres o tutores
  para la recogida de los datos personales o, en su caso, para el tratamiento
  automatizado de los datos.
  <br><br>
  <strong>22.- Cesión de datos a terceros</strong>
  <br><br>
  WIZZIONET, S.L. no realizará cesión de datos de los usuarios a terceros.
  <br><br>
  <strong>23.- Ejercicio de derechos de acceso, rectificación, cancelación y oposición</strong>
  <br><br>
  Podrá dirigir sus comunicaciones y ejercitar los derechos de acceso, rectificación,
  supresión, limitación, portabilidad y oposición en la dirección de Internet a
  www.eorestaurantes.com o bien por correo ordinario dirigido a WIZZIONET, S.L., Ref.
  RGPD, en CARRIL BAÑOS, 127, LA ALBATALÍA, 30009, MURCIA. Para ejercer
  dichos derechos es necesario que usted acredite su personalidad frente a
  WIZZIONET, S.L. mediante el envío de fotocopia de Documento Nacional de Identidad
  o cualquier otro medio válido en Derecho. No obstante, la modificación o rectificación
  de sus datos de registro se podrá realizar en el propio Site identificándose,
  previamente, con su usuario y contraseña.
  <br><br>
  <strong>24.- Medidas de seguridad</strong>
  <br><br>
  WIZZIONET, S.L. ha adoptado los niveles de seguridad de protección de los Datos
  Personales legalmente requeridos, y procuran instalar aquellos otros medios y
  medidas técnicas adicionales a su alcance para evitar la pérdida, mal uso, alteración,
  acceso no autorizado y robo de los Datos Personales facilitados a WIZZIONET, S.L.
  no será responsable de posibles daños o perjuicios que se pudieran derivar de
  interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o
  desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas
  por causas ajenas a WIZZIONET, S.L.; de retrasos o bloqueos en el uso del presente
  sistema electrónico causados por deficiencias o sobrecargas de líneas telefónicas o
  sobrecargas en el Centro de Procesos de Datos, en el sistema de Internet o en otros
  sistemas electrónicos, así como de daños que puedan ser causados por terceras
  personas mediante intromisiones ilegítimas fuera del control de WIZZIONET, S.L.. Ello,
  no obstante, el Usuario debe ser consciente de que las medidas de seguridad en
  Internet no son inexpugnables.
  <br><br>
  <strong>25.- Aceptación y consentimiento</strong>
  <br><br>
  El usuario declara haber sido informado de las condiciones sobre protección de datos
  personales, aceptando y consintiendo el tratamiento automatizado de los mismos por
  parte de WIZZIONET, S.L., en la forma y para las finalidades indicadas en la presente
  Política de Protección de Datos Personales. Ciertos servicios prestados en el la App y
  el Portal pueden contener condiciones particulares con previsiones específicas en
  materia de protección de Datos Personales</p>
