<div class="category-img" >
  <img *ngIf="category" class="imgPlate" src={{category.image}} alt="" />
</div>

<mat-list style="padding: 20px;">
  <div *ngIf="category" class="category-name">{{category.name}}</div>
  <mat-divider class="border top" ></mat-divider>
  <div *ngIf="category">
    <div *ngFor="let p of plates; let i = index">
      <div class="list-item">
        <div>{{p.name}}</div>
        <div class="listpriceAmount">
          <div class="listprice">{{p.price}}€</div>
        </div>
        <mat-button-toggle-group [(ngModel)]="isDisponible" (click)="updateDisponibility()">
          <mat-button-toggle value=true aria-label="Text align left">
            <p>Disponible</p>
          </mat-button-toggle>
          <mat-button-toggle value=false aria-label="Text align center">
            <p>Agotado</p>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <span (click)="deletePlate(p, i)" class="material-icons"> delete</span>
        <span (click)="editPlate(p)" class="material-icons">edit</span>
      </div>
      <mat-divider class="border"></mat-divider>
    </div>
  </div>
  <div class="list-item" (click)="createPlate()">
    <div>Añadir plato</div>
  </div>
  <mat-divider class="border"></mat-divider>
</mat-list>
