<div class="category-img" >
  <img *ngIf="category" class="imgPlate" src={{category.image}} alt="" />
</div>

<mat-list style="padding: 20px;">
  <div *ngIf="category" class="category-name">{{category.name}}</div>
  <mat-divider class="border top" ></mat-divider>
  <div *ngIf="category">
    <div *ngFor="let p of plates; let i = index">
      <div class="list-item">
        <div style="width: 40%;">{{p.name}}</div>
        <div class="list-item-noname">
          <div class="listpriceAmount">
            <div class="listprice">{{p.price}}€</div>
          </div>

          <p class="estado-item" *ngIf="p.available">Disponible</p>
          <p class="estado-item" *ngIf="!p.available">Agotado</p>

          <div>
            <button mat-raised-button class="primary" (click)="updateDisponibility(p.id, true, i)">Disponible</button>
          </div>

          <div>
            <button mat-raised-button class="primary" (click)="updateDisponibility(p.id, false, i)">Agotado</button>
          </div>
          <span (click)="deletePlate(p, i)" class="material-icons"> delete</span>
          <span (click)="editPlate(p)" class="material-icons">edit</span>
        </div>
      </div>
      <mat-divider class="border"></mat-divider>
    </div>
  </div>
  <div class="list-item" (click)="createPlate()">
    <div>Añadir plato</div>
  </div>
  <mat-divider class="border"></mat-divider>
</mat-list>

<div class="button-end-order">
  <button mat-raised-button class="primary" (click)="goCategoriesAdmin()">Volver a categorías</button>
</div>
