
.info-header{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.paddingGeneral{
  padding: 0 20px;
}

.example-full-width {
  margin: 10px;
}

.infoPlate{
  font-size: 17px;
  font-weight: bold;
  margin: 15px 10px 10px 10px;
}

.content-description{
  text-align: center;
}

.example-radio-group{
  margin: 20px 20px 20px 20px;
}

.button-end-order{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
