<div class="content-img">
  <img class="imgRestaurant" src="{{ image }}" />
  <img class="imgLogo" src="https://res.cloudinary.com/dxxvcl5fe/image/upload/v1674117635/logo_n0qpwc.png" />
</div>

<div class="content-title">¡Haz tu pedido a cocina o barra!</div>
<mat-divider class="border"></mat-divider>
<div class="content-category">
  <div
    class="card-category"
    *ngFor="let c of categories; let i = index"
    (click)="plateView(i, c)"
  >
    <img class="category-img" src="{{ c.image }}" />
    <label class="category-label">{{ c.name }}</label>
  </div>
</div>
