<mat-list class="content">
  <div class="displayFlex">
    <div class="center25">
      <h1 class="primary">Mesa</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Hora</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Platos</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Estado del pedido</h1>
    </div>
  </div>

  <div *ngFor="let pedido of pedidos; let i = index">
    <div *ngIf="pedido.drinkCount > 0" (click)="drinkView(pedido, i)">
      <div class="displayFlex tableTime {{ pedido.estadoDrink }}">
        <div class="center25">{{ pedido.tableNum }}</div>
        <div class="center25">{{ pedido.date }}</div>
        <div class="center25">
          {{ pedido.hechosDrink }}/{{ pedido.drinkCount }}
        </div>
        <div class="center25">{{ pedido.estadoDrink }}</div>
      </div>
      <mat-divider class="border"></mat-divider>
    </div>
  </div>
</mat-list>
