.content{
  padding: 20px;
  margin: auto;
  font-size: 25px;
}

.displayFlex{
  display: flex;
  justify-content: space-around;
}

.center50{
  text-align: center;
  width: 50%;
}

.tableTime{
  padding: 20px 0px;
  font-size: 20px;
}

.tableTime:hover{
  background-color: #C9C9C9;
}
