
<mat-list class="content">
  <div class="displayFlex">
    <div class="center33">Plato</div>
    <div class="center33">Unidades</div>
    <div class="center33">Servido</div>
  </div>

  <div>
    <div *ngFor="let amount of pedido.amounts; let i = index" class="servido{{pedidoServices.pedidoObjeto[indexs].amounts[i].servido}}">
      <div class="displayFlex tableTime" *ngIf="amount.plate.drink">
        <div class="center33">{{amount.plate.name}}</div>
        <div class="center33">{{amount.amount}}</div>
        <div class="center33">
          <p (click)="marcarHecho(i, pedidoServices.pedidoObjeto[indexs].amounts[i].servido)">servido</p>
          <!-- <section class="example-section">
            <mat-checkbox (click)="marcarHecho(i, pedidoServices.pedidoObjeto[indexs].amounts[i].servido)" >servido</mat-checkbox>
          </section> -->
        </div>
      </div>

      <div class="displayFlex description" *ngIf="amount.plate.drink">
        {{amount.description}}
      </div>
      <mat-divider *ngIf="amount.plate.drink"></mat-divider>
    </div>
  </div>
</mat-list>
