

td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
  font-family: 'Times New Roman';
}

td.cantidad,
th.cantidad {
  width: 20px;
  max-width: 20px;
  word-break: break-all;
  font-size: 12px;
  font-family: 'Times New Roman';
}

td.precio,
th.precio {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
  font-size: 12px;
  font-family: 'Times New Roman';
}

.centrado {
  margin-top: 5px;
  text-align: center;
  align-content: center;
  font-size: 19px;
}

.ticket {
  width: 155px;
  max-width: 155px;
}

img {
  max-width: inherit;
  width: inherit;
}