<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="restaurant-pedido-bebida.component.scss">
        <script src="script.js"></script>
    </head>
    <body>
        <div class="ticket">
            <p class="centrado"><b>MESA {{pedido.tableNum}}</b></p>
            <table>
                <thead>
                    <tr>
                        <th class="cantidad"></th>
                        <th class="producto">PRODUCTO</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dish of pedido.amounts">
                    <td class="cantidad">{{dish.amount}}</td>
                    <td class="producto">{{dish.plate.name}} <br> {{dish.description}}
                    <div *ngIf="dish.extras">
                      <div *ngFor="let extra of dish.extras">{{extra.name}}</div>
                    </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>