<div class="content">
  <div class="box">
    Ver cuenta mesa
    <mat-form-field style="padding-left: 10px; max-width: 110px;">
      <input matInput [(ngModel)]="tableNum" (keyup)="getPendingByTable()" placeholder="numero de mesa" autocomplete="off">
    </mat-form-field>
  </div>

  <mat-list class="matList">
    <div class="displayFlex">
      <div class="center20">
        <h1 class="primary">Mesa</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Platos</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Unidades</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Precio</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Total</h1>
      </div>
    </div>

    <div *ngFor="let pending of pendingOrders">
      <div class="displayFlex tableTime">
        <div class="center20">{{pending.tableNum}}</div>

        <div class="center20" *ngIf="pending.plate">{{pending.plate.name}}</div>
        <div class="center20" *ngIf="pending.additional">{{pending.additional.name}}</div>

        <div class="center20">{{pending.amount}}</div>

        <div class="center20" *ngIf="pending.plate">{{pending.plate.price}}</div>
        <div class="center20" *ngIf="pending.additional">{{pending.additional.price}}</div>

        <div class="center20" *ngIf="pending.plate">{{pending.amount * pending.plate.price}}</div>
        <div class="center20" *ngIf="pending.additional">{{pending.amount * pending.additional.price}}</div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <div class="displayFlex" style="gap: 50px; padding-top: 20px;">
    <div class="center">
      <button mat-raised-button class="primary" (click)="sendCuenta()">Enviar cuenta al cliente</button>
    </div>
    <div class="center">
      <button mat-raised-button class="primary" (click)="deleteCuenta()">Eliminar cuenta</button>
    </div>
  </div>

</div>
