<div class="content">
  <div class="box">
    Ver cuenta mesa
    <mat-form-field class="inputContent">
      <input
        matInput
        [(ngModel)]="tableNum"
        (keyup)="getPendingByTable()"
        placeholder="numero de mesa"
        autocomplete="off"
      />
    </mat-form-field>
  </div>

  <mat-list class="matList">
    <div class="displayFlex">
      <div class="center20">
        <h1 class="primary">Mesa</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Platos</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Unidades</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Precio</h1>
      </div>
      <div class="center20">
        <h1 class="primary">Total</h1>
      </div>
    </div>

    <div *ngFor="let pending of pendingOrders">
      <div class="displayFlex tableTime">
        <div class="center20">{{pending.tableNum}}</div>
        <div class="center20">{{(pending.plate) ? pending.plate.name : pending.additional.name}}</div>
        <div class="center20">{{pending.amount}}</div>
        <div class="center20">{{(pending.plate) ? pending.plate.price : pending.additional.price}}{{currencySumbolService.symbol}}</div>
        <div class="center20">{{(pending.plate) ? (pending.amount * pending.plate.price * 100)/100 : (pending.amount * pending.additional.price * 100)/100}}{{currencySumbolService.symbol}}</div>
      </div>
      <!-- <div
        class="additionals"
        *ngIf="pending.plate && pending.plate.additionals.length > 0"
      >
        <div *ngFor="let additional of pending.plate.additionals">
          {{ additional.name }} {{ additional.price }}€
        </div>
      </div> -->
      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <div style="font-size: 18px">
    <div class="totalIva">Total con iva incluido</div>
    <div class="littleBox">
      {{ total }}
    </div>
  </div>

  <div class="displayFlex" style="gap: 50px; padding-top: 20px">
    <div class="center">
      <button
        mat-raised-button
        class="primary"
        (click)="printCuenta()"
        [disabled]="!tableNum ? 'disabled' : null"
      >
        Imprimir cuenta
      </button>
    </div>
    <div class="center">
      <button mat-raised-button class="primary" (click)="deleteCuenta()">
        Eliminar cuenta
      </button>
    </div>
  </div>
</div>
