.content{
  padding: 20px;
  margin: auto;
}

.displayFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headers{
  font-size: 25px;
}

.center{
  text-align: center;
}

.center33{
  text-align: center;
  width: 33%;
}

.tableTime{
  font-size: 20px;
  padding: 15px 0px;
}

.full-width {
  width: 100%;
}

.matList{
  padding: 10px 10px;
}
