.content{
  padding: 20px;
  margin: auto;
}

.displayFlex{
  display: flex;
  justify-content: center;
}

.center20{
  text-align: center;
  width: 20%;
  padding: 10px;
}

.box{
  text-align: center;
  max-width: 250px;
  border-style: solid;
  border-width: 2px;
  border-color: #9CCB3B;
  margin-bottom: 20px;
}

.inputContent{
  max-width: 110px;
  text-align: center;
}

.totalIva{
  color: white;
  text-align: center;
  max-width: 220px;
  height: 30px;
  background-color: #9CCB3B;
  margin-bottom: 5px;
  margin-top: 15px;
  padding-top: 8px;
}

.littleBox{
  text-align: center;
  max-width: 216px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #9CCB3B;
  font-weight: bold;
  padding-top: 10px;
}

.headers{
  font-size: 25px;
}

.center{
  text-align: center;
}

.center33{
  text-align: center;
  width: 33%;
}

.tableTime{
  font-size: 20px;
  padding: 15px 0px;
}

.full-width {
  width: 100%;
}

.matList{
  padding: 10px 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    opacity: 0;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.additionals {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}
