.core-container{
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.div-order{
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

.wrapper{
  padding: 20px;
}

.mat-toolbar{
  display: flex;
  justify-content: center;
}
