<div class="category-img" >
  <img class="imgPlate" src={{category.image}} />
</div>

<mat-list style="padding: 20px;">
  <div class="category-name">{{category.name}}</div>
  <mat-divider class="border top" ></mat-divider>
  <div *ngFor="let p of plates; let i = index">
    <div class="list-item-{{p.available}}" (click)="plateInfoView(i)">
      <div>{{p.name}}</div>
      <div *ngIf="!p.available">Agotado</div>
      <div class="listpriceAmount">
        <div class="listprice">{{p.price}}{{currencySumbolService.symbol}}</div>
        <div>
          {{dic[p.name].amount}} uds
        </div>
      </div>
    </div>
    <mat-divider class="border" *ngIf="plates.length>i+1"></mat-divider>
  </div>
</mat-list>
<!-- <div style="padding-bottom: 10px;"></div> -->

<div class="button-end-order">
  <button mat-raised-button class="primary" (click)="goCategoriesPage()">Seguir pidiendo</button>
</div>
<!-- *ngIf="dic[p.name].amount != 0" -->
