.info-amount > button{
  background: none;
  border: none;
  margin: 20px 0 15px 0;
}

.info-amount_button{
  font-size: 25px;
}

.info-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-description{
  margin: 20px 0 10px 0;
}

.center {
  text-align: center;
}

.space-amount{
  margin: 0 5px;
}
