.content-img{
  position: relative;
  height: 200px;
}

.content-title{
  padding: 40px 20px 0px 20px;
  font-size: 17px;
  font-weight: bold;
}

.imgLogo{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -30px;
  width: 70px;
}

.imgRestaurant{
  width: 100%;
  height: 100%;
}

.category-img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 84px;
}

.content-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.card-category{
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin-bottom: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  text-align: center;
}

.category-label{
  margin: auto;
  padding: 7px;
}

.border{
  margin: 10px 10px 15px 10px;
  border: 1px solid;
  border-color: #9CCB3B;
}

.material-icons{
  padding-left: 5px;
}

.material-icons:hover{
  color: red;
}

.button-end-order{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
