/* You can add global styles to this file, and also import other style files */

@import 'material-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif; }

.primary{
  background-color: #9CCB3B;
  color: white;
}

// .mat-form-field-label{
//   color:#9CCB3B !important;
// }
// .mat-form-field-underline{
//   background-color:#9CCB3B !important;
// }
