
      <div class="button" style="font-size: 30px;">
        <p style="padding-bottom: 10px;">Pedidos de este mes</p>
      </div>
      <div class="button flexBox">
        <button mat-raised-button class="primary" (click)="adminMenu()">Administrar menu</button>
        <button mat-raised-button class="primary" (click)="adminCaja()">Administrar caja</button>
      </div>
      <div class="button gap">
        <button mat-raised-button class="primary" (click)="logOut()">Cerrar sesión</button>
      </div>
