
<!-- <meta http-equiv="refresh" content="5" /> -->

<mat-list class="content">
  <div class="displayFlex">
    <div class="center33">Mesa</div>
    <div class="center33">Hora</div>
    <div class="center33">Platos</div>
  </div>

  <div *ngFor="let pedido of pedidoServices.pedidoObjeto; let i = index" (click)="plateView(pedido, i)" class="estado{{pedido.estado}}">
    <div class="displayFlex tableTime" *ngIf="pedido.haveFood">
      <div class="center33">{{pedido.tableNum}}</div>
      <div class="center33">{{pedido.date}}</div>
      <div class="center33">{{pedido.hechos}}/{{pedido.amounts.length}}</div>

    </div>
    <mat-divider></mat-divider>
  </div>
</mat-list>
