<mat-list class="content">
  <div class="displayFlex">
    <div class="center25">
      <h1 class="primary">Mesa</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Hora</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Platos</h1>
    </div>
    <div class="center25">
      <h1 class="primary">Estado del pedido</h1>
    </div>
  </div>

  <div *ngFor="let pedido of pedidos; let i = index">
    <div *ngIf="pedido.foodCount > 0">
      <div class="displayFlex tableTime {{ pedido.estadoFood }}">
        <div class="center25" (click)="openDialog(pedido.tableNum)">
          {{ pedido.tableNum }}
          <mat-icon style="float: right; margin-right: 15px">edit</mat-icon>
        </div>
        <div class="center25" (click)="plateView(pedido, i)">
          {{ pedido.date }}
        </div>
        <div class="center25" (click)="plateView(pedido, i)">
          {{ pedido.hechosFood }}/{{ pedido.foodCount }}
        </div>
        <div class="center25" (click)="plateView(pedido, i)">
          {{ pedido.estadoFood }}
        </div>
      </div>

      <!--
      <div
        class="displayFlex tableTime {{ pedido.estadoFood }}"
        *ngIf="i % 2 == 0"
      >
        <div class="center25 green" (click)="openDialog(pedido.tableNum)">
          <mat-icon>edit</mat-icon>
        </div>
        <div class="center25 green" (click)="plateView(pedido, i)">
          {{ pedido.date }}
        </div>
        <div class="center25 green" (click)="plateView(pedido, i)">
          {{ pedido.hechosFood }}/{{ pedido.foodCount }}
        </div>
        <div class="center25 green" (click)="plateView(pedido, i)">
          {{ pedido.estadoFood }}
        </div>
      </div>
-->
      <mat-divider class="border"></mat-divider>
    </div>
  </div>
</mat-list>
