.mat-icon {
  margin-right: 5px;
}

.title {
  margin-bottom: 0;
  text-align: center;
}
.content {
  padding: 25px;
}

.add-printer,
.form-configuration {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px;
}

.mat-list {
  margin-bottom: 25px;
}

.printerTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
